* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
  word-wrap: break-word;
}

:focus {
  outline: none;
}

::placeholder {
  opacity: .5;
}

:root {
  --font-0: Verdana, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, Helvetica, Arial, Geneva, sans-serif;
  --font-1: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  --font-2: 'Century Gothic', 'Apple Gothic', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  --font-3: Georgia, Times, serif;
  --font-4: Consolas, 'Nimbus Mono L', monospace;
  background: #f7f0e3 url('../jpg/back.jpg') repeat-x 50% 0;
  font: 11px/1.6 var(--font-0);
  color: #666;
  text-align: left;
}

a {
  color: #5a93c9;
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:hover {
  color: #88ac0b;
  text-decoration: underline;
}

abbr {
  border: 0;
  text-decoration: none;
}

abbr[title] {
  cursor: help;
}

abbr[title]:hover {
  text-decoration: underline;
}

b, dt, strong, th {
  font-weight: bold;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

del, s {
  text-decoration: line-through;
}

em, i, var {
  font-style: italic;
}

img {
  background: #fafafa;
  border: 1px solid #dcdcdc;
  padding: 5px;
}

ins, u {
  text-decoration: underline;
}

blockquote {
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px 10px 5px 45px;
  border: 1px solid #f4f3ec;
  background: #fafae7 url('../jpg/quote.jpg') no-repeat 5px 5px;
  color: #976957;
  font-size: 130%;
  font-weight: bold;
  line-height: 1.2;
  font-family: var(--font-1);
}

blockquote blockquote {
  font-size: 100%;
  margin-left: 1rem;
}

small, sub, sup {
  font-size: 90%;
}

caption, figcaption {
  color: #99997d;
  margin: 5px 0 0;
  text-align: center;
}

code, .code {
  font-family: var(--font-4);
  word-wrap: break-word;
}

details summary {
  display: block;
  position: relative;
  padding-left: 15px;
  cursor: pointer;
}

details summary::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 7px solid #666;
  margin-top: -4px;
}

details summary:hover::before {
  border-left-color: #222;
}

details[open] summary::before {
  transform: rotate(90deg);
}

fieldset {
  border: 1px solid #e5e5e5;
  padding: 15px;
}

figure {
  text-align: center;
}

figure img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-family: var(--font-1);
  color: #899b0d;
}

h1 {
  font-size: 240%;
}

h2 {
  font-size: 190%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 120%;
}

h5, h6 {
  font-size: 100%;
  font-weight: bold;
}

h6 {
  font-size: 90%;
  text-transform: uppercase;
}

hr {
  background: none;
  color: inherit;
  border: 0;
  border-top: 1px dashed #e5e5e5;
}

img {
  max-width: 100%;
  height: auto;
}

kbd {
  padding: 2px 3px;
  background: #fafafa;
  border: 1px solid #e5e5e5;
}

label {
  user-select: none;
  cursor: pointer;
}

legend {
  padding: 0 5px;
  font-weight: bold;
}

mark {
  background: #ff0;
  color: inherit;
}

ol {
  list-style: decimal;
}

li p:last-child {
  margin-bottom: 15px;
}

sub, sup {
  position: relative;
  vertical-align: middle;
  top: .25rem;
}

sup {
  top: -.25rem;
}

ul {
  list-style: disc;
  list-style-image: url('data:image/gif;base64,R0lGODlhCAAMAKUqAJW7HajHR7jXbaTFQJ3AMZ3CMLPTYqDENvj68Pz9+fn786PHP/7+/NXjp6THPv3+/KPGPJW8HsnbjpvAK6HEOJS7HPr89ff675W7H5q/Kdbkq6DBNsjai8rcj/v8+NvntLXPZLTUZavJTqPEPbrYcv///vr89sHWfbzTcbfQaP///////////////////////////////////////////////////////////////////////////////////////yH5BAEAAD8ALAAAAAAIAAwAAAYswJ9wSCwaj0jjaTTgDFGRBQTQERIcJMEhINxQQoaCSCipTDIYzbABSn2SvyAAOw==');
}

dd, ol, ul {
  margin-left: 15px;
}

ol > ol,
ol > ul,
ul > ol,
ul > ul {
  margin-left: 10px;
}

pre {
  white-space: pre-wrap;
  overflow: auto;
  word-wrap: break-word;
}

pre code {
  display: block;
  padding: 10px;
  background: #fafae7;
  border: 1px solid #f4f3ec;
}

* + blockquote,
* + details,
* + dl,
* + fieldset,
* + figure,
* + form,
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6,
* + hr,
* + ol,
* + p,
* + pre,
* + table,
* + ul,
* + .p {
  margin-top: 15px;
}

legend + fieldset,
legend + p,
legend + .p {
  margin-top: -5px;
}

.aside {
  width: 280px;
}

.aside .widget + .widget {
  margin: 15px 0 0;
}

.body {
  background: #fff;
  width: 900px;
  margin: 50px auto;
  box-shadow: 0 0 4px rgba(0, 0, 0, .5);
  padding: 15px;
  position: relative;
}

.button,
.input,
.select,
.textarea {
  display: inline-block;
  vertical-align: middle;
  width: 12rem;
  max-width: 12rem;
  background: #f7f0e3;
  color: #777;
  border: 1px solid #d8d2c7;
  border-top-color: #d2ccc1;
  padding: 3px 5px;
  position: relative;
}

.button,
.button:focus,
.button:hover,
.button:active {
  width: auto;
  max-width: unset;
  padding-right: 8px;
  padding-left: 8px;
  background: #9bb009 linear-gradient(#9bb009, #aabd30) repeat-x 0 0;
  color: #fff;
  border: 0;
  font-size: 110%;
  font-weight: bold;
  font-family: var(--font-1);
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}

.button:focus {
  outline: 1px dotted rgba(255, 255, 255, .5);
  outline-offset: -2px;
}

.input:focus,
.select:focus,
.textarea:focus {
  border-color: #b9b4aa #cbc5bb #cbc5bb;
}

.input[type=checkbox],
.input[type=color],
.input[type=file],
.input[type=image],
.input[type=radio],
.input[type=range] {
  width: auto;
  max-width: unset;
  height: auto;
  line-height: inherit;
  background: none;
  border: 0;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
}

.input[type=color] {
  width: 2.25rem;
  max-width: unset;
  height: 2.25rem;
}

.input[type=checkbox],
.input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  width: 1.1em;
  height: 1.1em;
  max-width: 1.1em;
  max-height: 1.1em;
  min-width: 1.1em;
  min-height: 1.1em;
  margin: -.25em 0 0;
  background: #88ac0b;
  border-radius: 3px;
}

.input[type=checkbox]:checked::before {
  content: "";
  width: .5em;
  height: .3em;
  position: absolute;
  top: .26em;
  left: .25em;
  transform: rotate(-45deg);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.input[type=radio] {
  border-radius: 100%;
}

.input[type=radio]:checked {
  background: none;
  border: .5em solid #88ac0b;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.button[disabled],
.input[disabled],
.select[disabled],
.textarea[disabled] {
  opacity: .6;
  box-shadow: none;
  cursor: not-allowed;
}

.select {
  cursor: pointer;
}

.textarea {
  height: auto;
  min-height: 6rem;
  resize: vertical;
}

.textarea.height {
  height: 18rem;
}

.content {
  display: flex;
  background: #fff linear-gradient(#f2f2f2, #fff) repeat-x 0 0;
  background-size: 100% 350px;
  border-top: 1px solid #e5e5e5;
  box-shadow: inset 0 1px 0 #fff;
  margin: 5px 0;
}

.footer {
  padding: 5px;
  background: #f2f0f1;
  border-top: 1px solid #e5e5e5;
  box-shadow: inset 0 1px 0 #fff;
}

.footer > div {
  display: flex;
  flex-wrap: wrap;
}

.footer > div .aside {
  flex: 1;
}

.footer > div + div {
  padding: 15px;
  justify-content: center;
}

.footer > div + div p {
  display: flex;
  gap: 15px;
}

.footer > div + div a {
  color: #895f30;
}

.footer div + div a:focus,
.footer div + div a:hover {
  text-decoration: none;
  color: #333;
}

.footer .widget h4 {
  font-weight: bold;
  text-transform: uppercase;
  color: #976834;
  margin-left: 10px;
}

.footer .widget ul,
.footer .widget .archive {
  border-top-color: #e5e5e5;
}

.footer .widget ul li {
  border-bottom-color: #e5e5e5;
  padding-right: 10px;
  padding-left: 10px;
}

.footer .widget .archive:last-child {
  border-bottom-color: #e5e5e5;
}

.footer .widget ul li a,
.footer .widget .archive summary a {
  color: inherit;
}

.footer .widget ul li a:focus,
.footer .widget ul li a:hover,
.footer .widget .archive summary a:focus,
.footer .widget .archive summary a:hover {
  color: #333;
  text-decoration: none;
}

.footer .widget ul .current a,
.footer .widget .archive.current summary a {
  color: #333;
}

.header {
  background: #f6efbb;
  box-shadow: inset 0 3px 0 #eae0ad;
  font-family: var(--font-3);
  color: #5b4a29;
  height: 85px;
}

.header h1 {
  font: inherit;
  line-height: 1;
  font-size: 40px;
  letter-spacing: -1.5px;
  color: #111;
  padding: 10px 15px 0;
}

.header h1 a {
  color: inherit;
  text-decoration: none;
}

.header h1 a:focus {
  opacity: .75;
}

.header p {
  font-size: 15px;
  padding: 0 18px; /* Magic :( */
  margin: 0;
}

.image {
  background: #f2f0f1;
  padding: 5px 0;
  margin: 0;
}

.image img {
  display: block;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
}

.image + h2 {
  display: none;
}

.main,
.aside {
  padding: 15px;
}

.main {
  flex: 1;
}

.main > header {
  display: none;
}

.main > .alert {
  margin-bottom: 15px;
}

.nav {
  height: 45px;
  line-height: 45px;
  background: #9bb009 linear-gradient(#9bb009, #aabd30) repeat-x 0 0;
  font-weight: bold;
  font-family: var(--font-2);
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

.nav ul,
.nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
}

.nav a,
.nav span {
  display: block;
  padding: 0 15px;
  color: inherit;
  border-right: 1px solid rgba(0, 0, 0, .125);
  border-left: 1px solid rgba(255, 255, 255, .175);
  text-decoration: none;
}

.nav span {
  cursor: default;
}

.nav li:first-child a,
.nav li:first-child span {
  border-left: 0;
}

.nav a:focus,
.nav a:hover {
  background: rgba(0, 0, 0, .025);
}

.nav a:active {
  background: rgba(0, 0, 0, .045);
}

.nav + h2 {
  display: none;
}

.nav + h2 + ul {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-3);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  color: #5b4a29;
}

.nav + h2 + ul,
.nav + h2 + ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav + h2 + ul a {
  text-decoration: none;
  color: inherit;
}

.nav + h2 + ul a:focus,
.nav + h2 + ul a:hover {
  color: #111;
}

.nav + h2 + ul li + li {
  border-left: 1px solid #eae0ad;
  margin-left: 5px;
  padding-left: 5px;
}

.nav + h2 + p {
  display: none;
}

.page > header {
  margin: 0 0 15px;
}

.page > header h2,
.page > header h3,
.page .comments h3 {
  color: #895f30;
  letter-spacing: -1px;
  margin: 0;
}

.page > header h2 a,
.page > header h3 a {
  color: inherit;
}

.page > header h2 {
  font-size: 250%;
}

.page > header h3,
.page .comments h3 {
  font-size: 220%;
}

.page > header p {
  margin: 0;
}

.page > header time {
  display: block;
  font-size: 180%;
  font-family: var(--font-1);
  line-height: 1.2;
  margin: 0 0 5px;
  color: #899b0d;
}

.page .comments .comment-author {
  font-weight: bold;
  color: inherit;
}

.page .comments .comment-footer,
.page .comments .comment-header,
.page .comments .input + br + small,
.page .comments .select + br + small,
.page .comments .textarea + br + small {
  font-size: 100%;
  color: #99997d;
}

.page .notes {
  color: #99997d;
}

.page .t-o-c,
.page > footer {
  background: #fafae7;
  color: #99997d;
  border: 1px solid #eae7db;
  font-size: 95%;
  padding: 5px 10px;
}

.page > footer {
  margin: 15px 0 0;
}

.page + .page {
  margin-top: 30px;
}

.pager {
  margin: 15px 0 0;
}

.pager ul,
.pager li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pager ul {
  display: flex;
  justify-content: space-between;
}

.widget h4 {
  font-size: 160%;
  margin-left: 5px;
}

.widget h4 + * {
  margin-top: 10px;
}

.widget ul {
  list-style: none;
  margin-right: 0;
  margin-left: 0;
  border-top: 1px solid #ebebeb;
}

.widget ul li {
  padding: 5px;
  border-bottom: 1px solid #ebebeb;
}

.widget ul li a {
  color: #895f30;
}

.widget ul li a:focus,
.widget ul li a:hover {
  color: #1773bc;
  text-decoration: none;
}

.widget ul .current a {
  color: inherit;
}

.widget .archive {
  padding: 5px;
  border-top: 1px solid #ebebeb;
}

.widget .archive:last-child {
  border-bottom: 1px solid #ebebeb;
}

.widget .archive + .archive {
  margin-top: 0;
}

.widget .archive ul,
.widget .archive li {
  border: 0;
}

.widget .archive ul {
  margin-top: 5px;
}

.widget .archive li {
  margin-left: 5px;
}

.widget .count {
  color: #999;
}

.widget .count::before {
  content: '(';
}

.widget .count::after {
  content: ')';
}

.width {
  display: block;
  width: 100%;
  max-width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table caption {
  caption-side: bottom;
}

.table td,
.table th {
  border: 1px solid #fff;
  padding: 5px 10px;
  text-align: left;
  vertical-align: top;
}

.table td {
  background: #f8f8f8;
}

.table th {
  background: #9bb009 linear-gradient(#9bb009, #aabd30) repeat-x 0 0;
  color: #fff;
  font-size: 110%;
  font-family: var(--font-1);
}

.table tr:nth-child(odd) td {
  background: #f3f3f3;
}

.align-right {
  float: right;
  margin: 0 0 5px 15px;
  text-align: right;
}

.align-left {
  float: left;
  margin: 0 15px 5px 0;
  text-align: left;
}

.align-center {
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.alert p {
  background: #ffffd8;
  border: 1px solid rgba(0, 0, 0, .125);
  font-size: 95%;
  padding: 5px 10px;
}

.alert .error {
  background: #ffd8d8;
}

.alert .info {
  background: #d8d8ff;
}

.alert .success {
  background: #d8ebd8;
}

.form-comment p > label,
.form-comment .p > label {
  padding-top: 3px;
  border-top: 1px solid transparent;
}

.form-pass,
.form-user {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, .5);
  margin-right: -30px;
  margin-left: -30px;
  padding: 15px;
}

.form-search p {
  margin: 0;
  display: flex;
}

.form-search .input {
  background: #fff;
  border-color: #d5d5d5 #e5e5e5 #e5e5e5;
  min-width: 0;
  max-width: 100%;
  flex: 1;
}

.form-search .input:focus {
  border-color: #c5c5c5 #d5d5d5 #d5d5d5;
}

.form-search .button {
  margin-left: 3px;
}

.is\:pages .page figure {
  margin: 0 20px 0 0;
  float: left;
}

.is\:pages .page::after {
  content: "";
  display: table;
  clear: both;
}

.page .t-o-c {
  border-style: dashed;
}

.page .t-o-c summary::before {
  display: none;
}

.page .t-o-c li::before,
.page .t-o-c li::after {
  border-color: #eae7db;
}

.page .t-o-c li:last-child::after {
  background: #fafae7;
}
