*,
::after,
::before {
  background: 0 0;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

:where(address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  ol,
  p,
  pre,
  search,
  section,
  table,
  ul) + :where(address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  ol,
  p,
  pre,
  search,
  section,
  table,
  ul) {
  margin-top: 15px;
}

li:where(:not(:first-child)) > :where(address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  p,
  pre,
  search,
  section,
  table):where(:first-child) {
  margin-top: 15px;
}

::placeholder {
  color: inherit;
  opacity: 0.5;
}

:root {
  --font-0: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Helvetica, Arial, Geneva, sans-serif;
  --font-1: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  --font-2: "Century Gothic", "Apple Gothic", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  --font-3: Georgia, Times, serif;
  --font-4: Consolas, "Nimbus Mono L", monospace;
  background: #f7f0e3 url("back.jpg") repeat-x 50% 0;
  color: #666;
  font: normal normal 11px/1.6 var(--font-0);
  text-align: left;
}

a,
[role=link] {
  color: #5a93c9;
  cursor: pointer;
}
a:focus,
[role=link]:focus,
a:hover,
[role=link]:hover {
  color: #88ac0b;
  text-decoration: underline;
}
a[aria-current],
[aria-current][role=link],
a[aria-disabled],
[aria-disabled][role=link] {
  color: inherit;
  cursor: default;
  text-decoration: none;
}

b,
dt,
legend,
strong,
th {
  font-weight: bold;
}

em,
i,
var {
  font-style: italic;
}

button,
[role=button],
input[type=button],
input[type=reset],
input[type=submit],
input,
output,
select,
textarea {
  accent-color: #88ac0b;
  background: #f7f0e3;
  border: 1px solid #d8d2c7;
  border-top-color: #d2ccc1;
  color: #777;
  display: inline-block;
  max-width: 12rem;
  padding: 3px 5px;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  width: 12rem;
}

.nav a,
.nav [role=link],
select,
input[type=checkbox],
input[type=color],
input[type=file],
input[type=image],
input[type=radio],
input[type=range],
button,
[role=button],
input[type=button],
input[type=reset],
input[type=submit],
label,
details > summary {
  cursor: pointer;
  user-select: none;
}

del,
[role=deletion],
s {
  text-decoration: line-through;
}

sub,
sup,
small {
  font-size: 90%;
}

ins,
[role=insertion],
u {
  text-decoration: underline;
}

abbr[title] {
  cursor: help;
}
abbr[title]:hover {
  text-decoration: underline;
}

audio,
iframe,
picture,
video {
  display: block;
  height: auto;
  width: 100%;
}

blockquote {
  background: #fafae7 url("quote.jpg") no-repeat 5px 5px;
  border: 1px solid #f4f3ec;
  color: #976957;
  font-family: var(--font-1);
  font-size: 130%;
  font-weight: bold;
  line-height: 1.2;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px 5px 45px;
}
blockquote blockquote {
  font-size: 100%;
  margin-left: 1rem;
}

caption,
figcaption {
  color: #99997d;
  margin: 5px 0 0;
  text-align: center;
}

code {
  font-family: var(--font-4);
}

details > summary {
  display: block;
  padding-left: 15px;
  position: relative;
}
details > summary::before {
  border-bottom: 4px solid transparent;
  border-left: 8px solid #666;
  border-right: 0 solid transparent;
  border-top: 4px solid transparent;
  content: "";
  height: 0;
  left: 0;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  width: 0;
}
details > summary:hover::before {
  border-left-color: #444;
}
details[open] > summary {
  margin-bottom: 15px;
}
details[open] > summary::before {
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid #666;
  margin-top: -3px;
}

fieldset {
  border: 1px solid #e5e5e5;
  padding: 15px;
}

figure {
  text-align: center;
}
figure img,
figure [role=img] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form > p > label {
  border-top: 1px solid transparent;
  padding-top: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #899b0d;
  font-family: var(--font-1);
  line-height: 1.2;
}

h1 {
  font-size: 240%;
}

h2 {
  font-size: 190%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 120%;
}

h5,
h6 {
  font-size: 100%;
  font-weight: bold;
}

h6 {
  font-size: 90%;
  text-transform: uppercase;
}

hr {
  border-top: 1px dashed #e5e5e5;
}

img,
[role=img] {
  background: #fafafa;
  border: 1px solid #dcdcdc;
  height: auto;
  max-width: 100%;
  padding: 5px;
}

kbd {
  background: #fafafa;
  border: 1px solid #e5e5e5;
  padding: 2px 3px;
}

legend {
  padding: 0 5px;
}

mark,
[role=mark] {
  background: #fff399;
}

ol {
  list-style: decimal;
}

sub,
sup {
  position: relative;
  top: 0.25rem;
  vertical-align: middle;
}

sup {
  top: -0.25rem;
}

ul {
  list-style: disc;
  list-style-image: url("data:image/gif;base64,R0lGODlhCAAMAKUqAJW7HajHR7jXbaTFQJ3AMZ3CMLPTYqDENvj68Pz9+fn786PHP/7+/NXjp6THPv3+/KPGPJW8HsnbjpvAK6HEOJS7HPr89ff675W7H5q/Kdbkq6DBNsjai8rcj/v8+NvntLXPZLTUZavJTqPEPbrYcv///vr89sHWfbzTcbfQaP///////////////////////////////////////////////////////////////////////////////////////yH5BAEAAD8ALAAAAAAIAAwAAAYswJ9wSCwaj0jjaTTgDFGRBQTQERIcJMEhINxQQoaCSCipTDIYzbABSn2SvyAAOw==");
}

dl {
  margin-left: 15px;
  margin-right: 15px;
}

ol,
ul {
  margin-left: 30px;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-left: 15px;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
}
pre code {
  background: #fafae7;
  border: 1px solid #f4f3ec;
  display: block;
  padding: 10px;
}

button,
[role=button],
input[type=button],
input[type=reset],
input[type=submit] {
  background: #9bb009 linear-gradient(#9bb009, #aabd30) repeat-x 0 0;
  border: 0;
  color: #fff;
  font-family: var(--font-1);
  font-size: 110%;
  font-weight: bold;
  max-width: unset;
  padding-left: 8px;
  padding-right: 8px;
  width: auto;
}

input[type=checkbox],
input[type=color],
input[type=file],
input[type=image],
input[type=radio],
input[type=range] {
  background: 0 0;
  border: 0;
  box-shadow: none;
  height: auto;
  line-height: inherit;
  max-width: unset;
  padding: 0;
  width: auto;
}
input[type=color] {
  height: 2.25rem;
  max-width: unset;
  width: 2.25rem;
}
input[type=checkbox],
input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  background: #88ac0b;
  border-radius: 3px;
  height: 1.1em;
  margin: -0.25em 0 0;
  max-height: 1.1em;
  max-width: 1.1em;
  min-height: 1.1em;
  min-width: 1.1em;
  width: 1.1em;
}
input[type=checkbox]:checked::before {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  content: "";
  height: 0.3em;
  left: 0.25em;
  position: absolute;
  top: 0.26em;
  transform: rotate(-45deg);
  width: 0.5em;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=radio] {
  border-radius: 100%;
}
input[type=radio]:checked {
  background: none;
  border: 0.5em solid #88ac0b;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #b9b4aa #cbc5bb #cbc5bb;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table caption {
  caption-side: bottom;
}
table td,
table th {
  border: 1px solid #fff;
  padding: 5px 10px;
  text-align: left;
  vertical-align: top;
}
table td {
  background: #f8f8f8;
}
table th {
  background: #9bb009 linear-gradient(#9bb009, #aabd30) repeat-x 0 0;
  color: #fff;
  font-family: var(--font-1);
  font-size: 110%;
}
table tr:nth-child(odd) td {
  background: #f3f3f3;
}

textarea {
  height: auto;
  min-height: 6rem;
  resize: vertical;
}

::-moz-color-swatch {
  border: 0;
}

::-webkit-color-swatch {
  border: 0;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

:disabled,
[role=button]:not(:any-link) {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.6;
}

[role=button]:focus,
[role=button]:hover,
[role=button]:active {
  color: #fff;
  text-decoration: none;
}
.aside {
  width: 280px;
}

.banner {
  background: #f2f0f1;
  margin: 0;
  padding: 5px 0;
}
.banner img,
.banner [role=img] {
  background: 0 0;
  border: 0;
  margin: 0;
  padding: 0;
}

.banner + h2,
.header + h2 {
  display: none;
}

.body {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  margin: 50px auto;
  padding: 15px;
  position: relative;
  width: 900px;
}

.content {
  background: #fff linear-gradient(#f2f2f2, #fff) repeat-x 0 0;
  background-size: 100% 350px;
  border-top: 1px solid #e5e5e5;
  box-shadow: inset 0 1px 0 #fff;
  display: flex;
  margin: 5px 0;
}

.footer {
  background: #f2f0f1;
  border-top: 1px solid #e5e5e5;
  box-shadow: inset 0 1px 0 #fff;
  margin: 0;
  padding: 5px;
}
.footer > div {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}
.footer > div .aside {
  flex: 1;
}
.footer > div + div {
  justify-content: center;
  margin: 0;
  padding: 15px;
}
.footer > div + div a,
.footer > div + div [role=link] {
  color: #895f30;
}
.footer > div + div a:focus,
.footer > div + div [role=link]:focus,
.footer > div + div a:hover,
.footer > div + div [role=link]:hover {
  color: #444;
  text-decoration: none;
}
.footer > div + div p {
  display: flex;
  gap: 15px;
}
.footer .widget h4 {
  color: #976834;
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
}
.footer .widget p {
  padding-left: 10px;
  padding-right: 10px;
}
.footer .widget ul {
  border-top-color: #e5e5e5;
}
.footer .widget ul li {
  border-bottom-color: #e5e5e5;
  padding-left: 10px;
  padding-right: 10px;
}
.footer .widget ul li a,
.footer .widget ul li [role=link] {
  color: inherit;
}
.footer .widget ul li a:focus,
.footer .widget ul li [role=link]:focus,
.footer .widget ul li a:hover,
.footer .widget ul li [role=link]:hover {
  color: #444;
  text-decoration: none;
}
.footer .widget ul li [aria-current] {
  color: #444;
}
.footer .widget [role=tree] {
  border-top-color: #e5e5e5;
  padding-left: 10px;
  padding-right: 10px;
}
.footer .widget [role=tree][open] > summary a,
.footer .widget [role=tree][open] > summary [role=link] {
  color: #444;
}
.footer .widget [role=tree] > summary a,
.footer .widget [role=tree] > summary [role=link] {
  color: inherit;
}
.footer .widget [role=tree] > summary a:focus,
.footer .widget [role=tree] > summary [role=link]:focus,
.footer .widget [role=tree] > summary a:hover,
.footer .widget [role=tree] > summary [role=link]:hover {
  color: #444;
  text-decoration: none;
}
.footer .widget [role=tree]:last-child {
  border-bottom-color: #e5e5e5;
}

.header {
  background: #f6efbb;
  box-shadow: inset 0 3px 0 #eae0ad;
  color: #5b4a29;
  font-family: var(--font-3);
  height: 85px;
}
.header h1 {
  color: #111;
  font: inherit;
  font-size: 40px;
  letter-spacing: -1.5px;
  line-height: 1;
  margin-bottom: 0;
  padding: 10px 15px 0;
}
.header h1 a,
.header h1 [role=link] {
  color: inherit;
  text-decoration: none;
}
.header h1 a:focus,
.header h1 [role=link]:focus {
  opacity: 0.75;
}
.header p {
  font-size: 15px;
  margin: 0;
  padding: 0 18px;
}

.main,
.aside {
  margin: 0;
  padding: 15px;
}

.main {
  flex: 1;
  min-width: 0;
}

.nav {
  background: #9bb009 linear-gradient(#9bb009, #aabd30) repeat-x 0 0;
  color: #fff;
  font-family: var(--font-2);
  font-size: 14px;
  font-weight: bold;
  height: 45px;
  letter-spacing: 1px;
  line-height: 45px;
  margin: 0;
  text-transform: uppercase;
}
.nav a,
.nav [role=link] {
  border-left: 1px solid rgba(255, 255, 255, 0.175);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  color: inherit;
  display: block;
  padding: 0 15px;
  text-decoration: none;
}
.nav a:focus,
.nav [role=link]:focus,
.nav a:hover,
.nav [role=link]:hover {
  background: rgba(0, 0, 0, 0.025);
}
.nav a:active,
.nav [role=link]:active {
  background: rgba(0, 0, 0, 0.045);
}
.nav li,
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav mark,
.nav [role=mark] {
  background: rgba(0, 0, 0, 0.125);
}
.nav li:first-child a,
.nav li:first-child [role=link] {
  border-left-width: 0;
}
.nav ul {
  display: flex;
  flex-wrap: wrap;
}
.nav + h2 {
  display: none;
}
.nav + h2 + ul {
  color: #5b4a29;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-3);
  font-weight: bold;
  line-height: 1;
  position: absolute;
  right: 25px;
  text-transform: uppercase;
  top: 25px;
}
.nav + h2 + ul,
.nav + h2 + ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav + h2 + ul a,
.nav + h2 + ul [role=link] {
  color: inherit;
  text-decoration: none;
}
.nav + h2 + ul a:focus,
.nav + h2 + ul [role=link]:focus,
.nav + h2 + ul a:hover,
.nav + h2 + ul [role=link]:hover {
  color: #111;
}
.nav + h2 + ul li + li {
  border-left: 1px solid #eae0ad;
  margin-left: 5px;
  padding-left: 5px;
}

.page > footer {
  background: #fafae7;
  border: 1px solid #eae7db;
  color: #99997d;
  font-size: 95%;
  margin: 20px 0 0;
  padding: 5px 10px;
}
.page > header h2,
.page > header h3 {
  color: #895f30;
  letter-spacing: -1px;
  margin: 0;
}
.page > header h2 a,
.page > header h2 [role=link],
.page > header h3 a,
.page > header h3 [role=link] {
  color: inherit;
}
.page > header h2 {
  font-size: 250%;
}
.page > header h3 {
  font-size: 220%;
}
.page > header p {
  margin: 0 0 8px;
}
.page > header p time {
  color: #899b0d;
  display: block;
  font-family: var(--font-1);
  font-size: 180%;
  line-height: 1.2;
}
.page p[role=group] {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.page + .page {
  margin-top: 25px;
}

.pager {
  margin: 25px 0 0;
}
.pager li,
.pager ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pager ul {
  display: flex;
  justify-content: space-between;
}

.widget a [role=status],
.widget [role=link] [role=status] {
  color: #999;
}
.widget a [role=status]::after,
.widget [role=link] [role=status]::after {
  content: ")";
}
.widget a [role=status]::before,
.widget [role=link] [role=status]::before {
  content: "(";
}
.widget h4 {
  font-size: 160%;
  margin-left: 5px;
}
.widget h4 + * {
  margin-top: 10px;
}
.widget p {
  padding: 0 5px;
}
.widget ul {
  border-top: 1px solid #ebebeb;
  list-style: none;
  margin-left: 0;
  margin-right: 0;
}
.widget ul li {
  border-bottom: 1px solid #ebebeb;
  padding: 5px;
}
.widget ul li a,
.widget ul li [role=link] {
  color: #895f30;
}
.widget ul li a:focus,
.widget ul li [role=link]:focus,
.widget ul li a:hover,
.widget ul li [role=link]:hover {
  color: #1773bc;
  text-decoration: none;
}
.widget ul [aria-current] {
  color: inherit;
}
.widget [role=tree] {
  border-top: 1px solid #ebebeb;
  padding: 5px;
}
.widget [role=tree][open] > summary {
  margin-bottom: 0;
}
.widget [role=tree]:last-child {
  border-bottom: 1px solid #ebebeb;
}
.widget [role=tree] li,
.widget [role=tree] ul {
  border: 0;
}
.widget [role=tree] li {
  margin-left: 5px;
}
.widget [role=tree] ul {
  margin-top: 5px;
}
.widget [role=tree] + [role=tree] {
  margin-top: 0;
}

.is-pages .main > .page > header {
  border-bottom: 1px dashed #e5e5e5;
  padding-bottom: 15px;
}
.is-pages .main > .page > header p {
  font-size: 120%;
  margin-bottom: 0;
  margin-top: 8px;
}
.is-pages .page > figure {
  float: left;
  margin-right: 15px;
}
.is-pages .page::after {
  clear: both;
  content: "";
  display: table;
}

[role=alert] {
  background: #ffffd8;
  border: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 95%;
  padding: 5px 10px;
}
[role=alert][aria-live=assertive] {
  background: #ffd8d8;
}
[role=alert][aria-live=off] {
  background: #d8d8ff;
}
[role=alert][aria-live=polite] {
  background: #d8ebd8;
}

.comment + .comment,
.comment .comments {
  margin-top: 15px;
}

.comments,
.comments-body,
.comments-footer {
  margin-top: 15px;
}

.comments h3 {
  color: #895f30;
  font-size: 220%;
  letter-spacing: -1px;
  margin: 0;
}
.comments .comment-author {
  color: inherit;
  font-weight: bold;
}
.comments .comment-footer,
.comments .comment-header,
.comments [role=status],
.comments input + br + small,
.comments select + br + small,
.comments textarea + br + small {
  color: #99997d;
}

#comments {
  margin-top: 25px;
}

[role=doc-endnotes] {
  color: #99997d;
}

form[name=pass] {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  margin-left: -30px;
  margin-right: -30px;
  padding: 15px;
}

form[name=search] button,
form[name=search] input[type=button],
form[name=search] input[type=reset],
form[name=search] input[type=submit],
form[name=search] [role=button] {
  margin-left: 3px;
}
form[name=search] input {
  background: #fff;
  border-color: #d5d5d5 #e5e5e5 #e5e5e5;
  flex: 1;
  max-width: 100%;
  min-width: 0;
}
form[name=search] input:focus {
  border-color: #c5c5c5 #d5d5d5 #d5d5d5;
}
form[name=search] p {
  display: flex;
  margin: 0;
}

[role=doc-toc] {
  background: #fafae7;
  border: 1px solid #eae7db;
  color: #99997d;
  font-size: 95%;
  padding: 5px 10px;
}
[role=doc-toc] > summary::before {
  display: none;
}
[role=doc-toc] [role=doc-pagelist] li::after,
[role=doc-toc] [role=doc-pagelist] li::before {
  border-color: #eae7db;
}
[role=doc-toc] [role=doc-pagelist] li:last-child::after {
  background: #fafae7;
}

form[name=user] {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  margin-left: -30px;
  margin-right: -30px;
  padding: 15px;
}