[role='doc-toc'] {
  background: #fafae7;
  border: 1px solid #eae7db;
  color: #99997d;
  font-size: 95%;
  padding: 5px 10px;
  > summary {
    &::before {
      display: none;
    }
  }
  [role='doc-pagelist'] {
    li {
      &::after,
      &::before {
        border-color: #eae7db;
      }
      &:last-child {
        &::after {
          background: #fafae7;
        }
      }
    }
  }
}