@use 'x';

*,
::after,
::before {
  background: 0 0;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

:where(
  address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  ol,
  p,
  pre,
  search,
  section,
  table,
  ul
) {
  & + & {
    margin-top: 15px;
  }
}

li {
  &:where(:not(:first-child)) {
    > :where(
      address,
      article,
      aside,
      blockquote,
      dd,
      details,
      div,
      dl,
      dt,
      fieldset,
      figure,
      footer,
      form,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      header,
      hgroup,
      hr,
      main,
      nav,
      p,
      pre,
      search,
      section,
      table
    ):where(:first-child) {
      margin-top: 15px;
    }
  }
}

::placeholder {
  opacity: 0.5;
}

:root {
  --font-0: Verdana, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, Helvetica, Arial, Geneva, sans-serif;
  --font-1: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  --font-2: 'Century Gothic', 'Apple Gothic', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  --font-3: Georgia, Times, serif;
  --font-4: Consolas, 'Nimbus Mono L', monospace;
  background: #f7f0e3 url('back.jpg') repeat-x 50% 0;
  color: #666;
  font: normal normal 11px/1.6 var(--font-0);
  text-align: left;
}

%a {
  color: #5a93c9;
  cursor: pointer;
  &:focus,
  &:hover {
    color: #88ac0b;
    text-decoration: underline;
  }
  &[aria-current],
  &[aria-disabled] {
    color: inherit;
    cursor: default;
    text-decoration: none;
  }
}

%b {
  font-weight: bold;
}

%i {
  font-style: italic;
}

%input {
  accent-color: #88ac0b;
  background: #f7f0e3;
  border: 1px solid #d8d2c7;
  border-top-color: #d2ccc1;
  color: #777;
  display: inline-block;
  max-width: 12rem;
  padding: 3px 5px;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  width: 12rem;
}

%label {
  cursor: pointer;
  user-select: none;
}

%s {
  text-decoration: line-through;
}

%small {
  font-size: 90%;
}

%u {
  text-decoration: underline;
}

a {
  @extend %a;
}

abbr {
  &[title] {
    cursor: help;
    &:hover {
      text-decoration: underline;
    }
  }
}

audio,
iframe,
picture,
video {
  display: block;
  height: auto;
  width: 100%;
}

b,
dt,
legend,
strong,
th {
  @extend %b;
}

del,
s {
  @extend %s;
}

em,
i,
var {
  @extend %i;
}

ins,
u {
  @extend %u;
}

blockquote {
  background: #fafae7 url('quote.jpg') no-repeat 5px 5px;
  border: 1px solid #f4f3ec;
  color: #976957;
  font: {
    family: var(--font-1);
    size: 130%;
    weight: bold;
  }
  line-height: 1.2;
  margin: {
    left: 10px;
    right: 10px;
  }
  padding: 5px 10px 5px 45px;
  blockquote {
    font-size: 100%;
    margin-left: 1rem;
  }
}

caption,
figcaption {
  color: #99997d;
  margin: 5px 0 0;
  text-align: center;
}

code {
  font-family: var(--font-4);
}

details {
  > summary {
    @extend %label;
    display: block;
    padding-left: 15px;
    position: relative;
    &::before {
      border: {
        bottom: 4px solid transparent;
        left: 8px solid #666;
        right: 0 solid transparent;
        top: 4px solid transparent;
      }
      content: "";
      height: 0;
      left: 0;
      // See the comment below!
      margin-top: -4px;
      position: absolute;
      top: 50%;
      width: 0;
    }
    &:hover {
      &::before {
        border-left-color: #444;
      }
    }
  }
  &[open] {
    > summary {
      margin-bottom: 15px;
      &::before {
        border: {
          bottom: 0 solid transparent;
          left: 4px solid transparent;
          right: 4px solid transparent;
          top: 8px solid #666;
        }
        // This comment is to remind me in the future that this number is there on purpose. Logically, I should use the
        // `-4px` value to center it vertically, but since it is a triangle, I need to move it down a bit to create an
        // optical illusion that the inverted triangle is centered vertically.
        //
        // See <https://medium.com/design-bridges/optical-effects-9fca82b4cd9a>
        margin-top: -3px;
      }
    }
  }
}

fieldset {
  border: 1px solid #e5e5e5;
  padding: 15px;
}

figure {
  text-align: center;
  img {
    display: block;
    margin: {
      left: auto;
      right: auto;
    }
  }
}

form {
  > p {
    > label {
      border-top: 1px solid transparent;
      padding-top: 3px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #899b0d;
  font-family: var(--font-1);
  line-height: 1.2;
}

h1 {
  font-size: 240%;
}

h2 {
  font-size: 190%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 120%;
}

h5, h6 {
  font: {
    size: 100%;
    weight: bold;
  }
}

h6 {
  font-size: 90%;
  text-transform: uppercase;
}

hr {
  border-top: 1px dashed #e5e5e5;
}

img {
  background: #fafafa;
  border: 1px solid #dcdcdc;
  height: auto;
  max-width: 100%;
  padding: 5px;
}

kbd {
  background: #fafafa;
  border: 1px solid #e5e5e5;
  padding: 2px 3px;
}

label {
  @extend %label;
}

legend {
  padding: 0 5px;
}

mark {
  background: #fff399;
}

ol {
  list-style: decimal;
}

small {
  @extend %small;
}

sub,
sup {
  @extend %small;
  position: relative;
  top: 0.25rem;
  vertical-align: middle;
}

sup {
  top: -0.25rem;
}

ul {
  list-style: disc;
  list-style-image: url('data:image/gif;base64,R0lGODlhCAAMAKUqAJW7HajHR7jXbaTFQJ3AMZ3CMLPTYqDENvj68Pz9+fn786PHP/7+/NXjp6THPv3+/KPGPJW8HsnbjpvAK6HEOJS7HPr89ff675W7H5q/Kdbkq6DBNsjai8rcj/v8+NvntLXPZLTUZavJTqPEPbrYcv///vr89sHWfbzTcbfQaP///////////////////////////////////////////////////////////////////////////////////////yH5BAEAAD8ALAAAAAAIAAwAAAYswJ9wSCwaj0jjaTTgDFGRBQTQERIcJMEhINxQQoaCSCipTDIYzbABSn2SvyAAOw==');
}

dl {
  margin: {
    left: 15px;
    right: 15px;
  }
}

ol,
ul {
  margin-left: 30px;
  & & {
    margin-left: 15px;
  }
}

pre {
  overflow: auto;
  white-space: pre-wrap;
  code {
    background: #fafae7;
    border: 1px solid #f4f3ec;
    display: block;
    padding: 10px;
  }
}

button,
input,
output,
select,
textarea {
  @extend %input;
}

button {
  @extend %label;
  background: #9bb009 linear-gradient(#9bb009, #aabd30) repeat-x 0 0;
  border: 0;
  color: #fff;
  font: {
    family: var(--font-1);
    size: 110%;
    weight: bold;
  }
  max-width: unset;
  padding: {
    left: 8px;
    right: 8px;
  }
  width: auto;
}

input {
  &[type='button'],
  &[type='reset'],
  &[type='submit'] {
    @extend button;
  }
  &[type='checkbox'],
  &[type='color'],
  &[type='file'],
  &[type='image'],
  &[type='radio'],
  &[type='range'] {
    @extend %label;
    background: 0 0;
    border: 0;
    box-shadow: none;
    height: auto;
    line-height: inherit;
    max-width: unset;
    padding: 0;
    width: auto;
  }
  &[type='color'] {
    height: 2.25rem;
    max-width: unset;
    width: 2.25rem;
  }
  &[type='checkbox'],
  &[type='radio'] {
    -webkit-appearance: none;
    appearance: none;
    background: #88ac0b;
    border-radius: 3px;
    height: 1.1em;
    margin: -0.25em 0 0;
    max-height: 1.1em;
    max-width: 1.1em;
    min-height: 1.1em;
    min-width: 1.1em;
    width: 1.1em;
  }
  &[type='checkbox'] {
    &:checked {
      &::before {
        border: {
          bottom: 1px solid #fff;
          left: 1px solid #fff;
        }
        content: "";
        height: 0.3em;
        left: 0.25em;
        position: absolute;
        top: 0.26em;
        transform: rotate(-45deg);
        width: 0.5em;
      }
    }
  }
  &[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  &[type='radio'] {
    border-radius: 100%;
    &:checked {
      background: none;
      border: 0.5em solid #88ac0b;
    }
  }
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input,
select,
textarea {
  &:focus {
    border-color: #b9b4aa #cbc5bb #cbc5bb;
  }
}

select {
  @extend %label;
}

table {
  border-collapse: collapse;
  width: 100%;
  caption {
    caption-side: bottom;
  }
  td,
  th {
    border: 1px solid #fff;
    padding: 5px 10px;
    text-align: left;
    vertical-align: top;
  }
  td {
    background: #f8f8f8;
  }
  th {
    background: #9bb009 linear-gradient(#9bb009, #aabd30) repeat-x 0 0;
    color: #fff;
    font: {
      family: var(--font-1);
      size: 110%;
    }
  }
  tr {
    &:nth-child(odd) {
      td {
        background: #f3f3f3;
      }
    }
  }
}

textarea {
  height: auto;
  min-height: 6rem;
  resize: vertical;
}

::-moz-color-swatch {
  border: 0;
}

::-webkit-color-swatch {
  border: 0;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

:disabled {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.6;
}

[role='button'] {
  @extend button;
  &:focus,
  &:hover,
  &:active {
    color: #fff;
    text-decoration: none;
  }
  &:not(:any-link) {
    @extend :disabled;
  }
}

[role='deletion'] {
  @extend del;
}

[role='img'] {
  @extend img;
}

[role='insertion'] {
  @extend ins;
}

[role='link'] {
  @extend a;
}

[role='mark'] {
  @extend mark;
}

.aside {
  width: 280px;
}

.banner {
  background: #f2f0f1;
  margin: 0;
  padding: 5px 0;
  img {
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 0;
  }
}

.banner,
.header {
  + h2 {
    display: none;
  }
}

.body {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  margin: 50px auto;
  padding: 15px;
  position: relative;
  width: 900px;
}

.content {
  background: #fff linear-gradient(#f2f2f2, #fff) repeat-x 0 0;
  background-size: 100% 350px;
  border-top: 1px solid #e5e5e5;
  box-shadow: inset 0 1px 0 #fff;
  display: flex;
  margin: 5px 0;
}

.footer {
  background: #f2f0f1;
  border-top: 1px solid #e5e5e5;
  box-shadow: inset 0 1px 0 #fff;
  margin: 0;
  padding: 5px;
  > div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    .aside {
      flex: 1;
    }
    + div {
      justify-content: center;
      margin: 0;
      padding: 15px;
      a {
        color: #895f30;
        &:focus,
        &:hover {
          color: #444;
          text-decoration: none;
        }
      }
      p {
        display: flex;
        gap: 15px;
      }
    }
  }
  .widget {
    h4 {
      color: #976834;
      font-weight: bold;
      margin-left: 10px;
      text-transform: uppercase;
    }
    p {
      padding: {
        left: 10px;
        right: 10px;
      }
    }
    ul {
      border-top-color: #e5e5e5;
      li {
        border-bottom-color: #e5e5e5;
        padding: {
          left: 10px;
          right: 10px;
        }
        a {
          color: inherit;
          &:focus,
          &:hover {
            color: #444;
            text-decoration: none;
          }
        }
        [aria-current] {
          color: #444;
        }
      }
    }
    [role='tree'] {
      border-top-color: #e5e5e5;
      padding: {
        left: 10px;
        right: 10px;
      }
      &[open] {
        > summary {
          a {
            color: #444;
          }
        }
      }
      > summary {
        a {
          color: inherit;
          &:focus,
          &:hover {
            color: #444;
            text-decoration: none;
          }
        }
      }
      &:last-child {
        border-bottom-color: #e5e5e5;
      }
    }
  }
}

.header {
  background: #f6efbb;
  box-shadow: inset 0 3px 0 #eae0ad;
  color: #5b4a29;
  font-family: var(--font-3);
  height: 85px;
  h1 {
    color: #111;
    font: inherit;
    font-size: 40px;
    letter-spacing: -1.5px;
    line-height: 1;
    margin-bottom: 0;
    padding: 10px 15px 0;
    a {
      color: inherit;
      text-decoration: none;
      &:focus {
        opacity: 0.75;
      }
    }
  }
  p {
    font-size: 15px;
    margin: 0;
    padding: 0 18px; // Magic :(
  }
}

.main,
.aside {
  margin: 0;
  padding: 15px;
}

.main {
  flex: 1;
  min-width: 0;
}

.nav {
  background: #9bb009 linear-gradient(#9bb009, #aabd30) repeat-x 0 0;
  color: #fff;
  font: {
    family: var(--font-2);
    size: 14px;
    weight: bold;
  }
  height: 45px;
  letter-spacing: 1px;
  line-height: 45px;
  margin: 0;
  text-transform: uppercase;
  a {
    @extend %label;
    border: {
      left: 1px solid rgba(255, 255, 255, 0.175);
      right: 1px solid rgba(0, 0, 0, 0.125);
    }
    color: inherit;
    display: block;
    padding: 0 15px;
    text-decoration: none;
    &:focus,
    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
    &:active {
      background: rgba(0, 0, 0, 0.045);
    }
  }
  li,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  mark {
    background: rgba(0, 0, 0, 0.125);
  }
  li {
    &:first-child {
      a {
        border-left-width: 0;
      }
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  + h2 {
    display: none;
    + ul {
      color: #5b4a29;
      display: flex;
      flex-wrap: wrap;
      font: {
        family: var(--font-3);
        weight: bold;
      }
      line-height: 1;
      position: absolute;
      right: 25px;
      text-transform: uppercase;
      top: 25px;
      &,
      & li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      a {
        color: inherit;
        text-decoration: none;
        &:focus,
        &:hover {
          color: #111;
        }
      }
      li {
        + li {
          border-left: 1px solid #eae0ad;
          margin-left: 5px;
          padding-left: 5px;
        }
      }
    }
  }
}

.page {
  > footer {
    margin: 15px 0 0;
  }
  > header {
    h2,
    h3 {
      color: #895f30;
      letter-spacing: -1px;
      margin: 0;
      a {
        color: inherit;
      }
    }
    h2 {
      font-size: 250%;
    }
    h3 {
      font-size: 220%;
    }
    p {
      margin: 0 0 8px;
      time {
        color: #899b0d;
        display: block;
        font: {
          family: var(--font-1);
          size: 180%;
        }
        line-height: 1.2;
      }
    }
  }
  p {
    &[role='group'] {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
    }
  }
  > footer {
    background: #fafae7;
    border: 1px solid #eae7db;
    color: #99997d;
    font-size: 95%;
    padding: 5px 10px;
  }
  + .page {
    margin-top: 25px;
  }
}

.pager {
  margin: 25px 0 0;
  li,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul {
    display: flex;
    justify-content: space-between;
  }
}

.widget {
  a {
    [role='status'] {
      color: #999;
      &::after {
        content: ')';
      }
      &::before {
        content: '(';
      }
    }
  }
  h4 {
    font-size: 160%;
    margin-left: 5px;
    + * {
      margin-top: 10px;
    }
  }
  p {
    padding: 0 5px;
  }
  ul {
    border-top: 1px solid #ebebeb;
    list-style: none;
    margin: {
      left: 0;
      right: 0;
    }
    li {
      border-bottom: 1px solid #ebebeb;
      padding: 5px;
      a {
        color: #895f30;
        &:focus,
        &:hover {
          color: #1773bc;
          text-decoration: none;
        }
      }
    }
    [aria-current] {
      color: inherit;
    }
  }
  [role='tree'] {
    border-top: 1px solid #ebebeb;
    padding: 5px;
    &[open] {
      > summary {
        margin-bottom: 0;
      }
    }
    &:last-child {
      border-bottom: 1px solid #ebebeb;
    }
    li,
    ul {
      border: 0;
    }
    li {
      margin-left: 5px;
    }
    ul {
      margin-top: 5px;
    }
    + [role='tree'] {
      margin-top: 0;
    }
  }
}

.is\:pages {
  .main {
    > .page {
      > header {
        border-bottom: 1px dashed #e5e5e5;
        display: none;
        padding-bottom: 15px;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
  &.with\:page-header {
    .main {
      > .page {
        > header {
          display: block;
          p {
            font-size: 120%;
            margin-top: 8px;
          }
        }
      }
    }
  }
  .page {
    figure {
      float: left;
      margin-right: 15px;
    }
    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }
}

@include x.alert;
@include x.comment;
@include x.markdown;
@include x.pass;
@include x.search;
@include x.t-o-c;
@include x.user;